.DirectionsPar01::before{
content: "Step 1 ";


}

.DirectionsPar02::before{
    content:"Step 2 ";
}


.DirectionsPar03::before{
    content:"Step 3 ";
}
.DirectionsPar04::before{
    content:"Step 4 ";
}
.DirectionsPar05::before{
    content:"Step 5 ";
}

ol > li{
    list-style: none;
}

